@import url(/css/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap");
html {
  font-size: 18px;
}

html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  font-family: "Alegerya Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../img/decor/chocolates.png") left 78% center no-repeat, url("../img/decor/leafes.png") right bottom no-repeat;
  background-color: #61C4D9;
  height: 100vh;
  min-height: 65%;
  color: #fff;
  position: relative;
}
.hero:before {
  bottom: -2.2rem;
  left: 2%;
  position: absolute;
  content: url("../img/decor/leaf.png");
}
.hero:after {
  content: url("../img/decor/berrys.png");
  position: absolute;
  bottom: -2.2rem;
  right: 0;
}

.hero__title-section {
  width: 46%;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.33rem 0 2.5rem;
}

.hero__main-title {
  font-size: 2.66rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 0.83rem;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 1.16rem;
  margin-bottom: 1.61rem;
  padding-right: 10%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 0.83rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.phone-number {
  font-size: 22px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon-elem {
  width: 0.66rem;
  height: 0.66rem;
  margin-right: 0.33rem;
}

.menu__link {
  text-decoration: none;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 2.55rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
  max-width: 4.72rem;
}

.feature__icons {
  width: 2.5rem;
  margin-right: 0.38rem;
}

.feature__text {
  font-size: 16px;
}

.btn {
  font-style: 19px;
  font-weight: bold;
  padding: 1rem 1.94rem;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.btn--theme--white {
  background: #fff;
  color: #0b4d3c;
}
.btn--theme--white:hover {
  color: #fff;
  background: #0b4d3c;
}
.btn--theme--green {
  background: #0b4d3c;
  color: #fff;
}
.btn--theme--green:hover {
  color: #0b4d3c;
  background: #FFF;
}
.btn--theme--transparent {
  background: transparent;
  color: #000;
  text-transform: none;
}
.btn--theme--transparent:hover {
  color: #0b4d3c;
}

.section {
  height: 100vh;
  min-height: 36.11rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font--color--green {
  color: #0b4d3c;
}
.section--font--color--green .section__title {
  color: inherit;
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 3.33rem;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.headline {
  text-align: center;
  margin-bottom: 8%;
}

.headline__title {
  margin-bottom: 1.38rem;
}

.headline__subtitle {
  padding: 0 26%;
}

.benefits {
  display: flex;
}

.benefits__item {
  flex: 1;
  margin: 0 3%;
  position: relative;
}
.benefits__item:before {
  content: url("../img/decor/why-shape.png");
  position: absolute;
  top: 2.7rem;
  right: 0px;
  transform: translateX(50%);
}
.benefits__item:first-child {
  margin-left: 0;
}
.benefits__item:last-child {
  margin-right: 0;
}
.benefits__item:last-child:before {
  content: none;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 4.16rem;
  height: 8.62rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefits-section {
  position: relative;
  background: url("../img/decor/why-leaf.png") left top 57% no-repeat;
}
.benefits-section:before {
  content: url("../img/decor/why-berry.png");
  position: absolute;
  bottom: -4.44rem;
  left: 0;
}

.reviews__display {
  background: url("../img/decor/leafe-reviews.png") top right no-repeat;
  background-color: #F8FAF9;
  padding: 2.77rem 2.5rem 1.88rem;
  margin-bottom: 1.11rem;
  overflow: hidden;
  position: relative;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -3.61rem;
}

.reviews__display-inner {
  display: flex;
}

.reviews__avatar {
  width: 14.1rem;
  height: 14.44rem;
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 1.1rem;
}

.reviews__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1.22rem;
  color: black;
}

.reviews__text {
  margin-bottom: 2rem;
}

.reviews__author {
  font-style: 18px;
  font-weight: bold;
  color: black;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.83rem;
}

.interective-avatar {
  width: 4.44rem;
  height: 4.44rem;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interective-avatar--active {
  border-color: #365A49;
}

.interective-avatar-link {
  position: absolutetop;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.interective-avatat-img {
  display: block;
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.reviews-section {
  position: relative;
  background: url(./img/decor/ber-rev-top.png) top 10px right no-repeat;
}
.reviews-section:after {
  content: url("../img/decor/berry-reviews-left.png");
  position: absolute;
  left: 0;
  bottom: -5rem;
}
.reviews-section:before {
  content: url("../img/decor/decor-reviews.png");
  position: absolute;
  bottom: -20rem;
  left: 0;
}

.order-section {
  background: url("../img/decor/bg-order.png");
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: row;
}

.form__col {
  flex: 1;
  margin-right: 1.1rem;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: 1rem;
}

.form__block {
  flex: 1;
  margin-right: 1.1rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__title {
  margin-bottom: 0.16rem;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.61rem;
  border: 3px solid transparent;
}
.form__input--textarea {
  height: 10rem;
  resize: none;
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.1rem;
}

.form__btns {
  padding-top: 1.44rem;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 1.1rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url(../img/icons/mark.svg) center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.44rem;
  height: 1.44rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.55rem;
}
.radio__visible::before {
  content: "";
  width: 0.77rem;
  height: 0.77rem;
  background: #365A49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.27rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 0.88rem;
  height: 0.88rem;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.33rem;
  height: 0.33rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}