@import url("/css/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegerya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
  margin: 0;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.maincontent {
  height: 100%;
  transition: transform 1s;
  will-change: transform;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../img/decor/leafes.png") right bottom no-repeat;
  background-color: #61C4D9;
  height: 100%;
  color: #fff;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: right bottom 88%;
    background-size: 90%;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    background-size: 70%;
  }
}
@media screen and (max-width: 768px) {
  .hero::before, .hero:after {
    display: none;
  }
}
.hero:before {
  bottom: -2.2rem;
  left: 2%;
  position: absolute;
  content: url("../img/decor/leaf.png");
}
.hero:after {
  content: url("../img/decor/berrys.png");
  position: absolute;
  bottom: -2.2rem;
  right: 0;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.33rem 0 2.5rem;
  background: url("../img/decor/chocolates.png") right center/50% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__title-section:before {
    content: "";
    background: url("../img/decor/choc--berry.png") center center/contain no-repeat;
    width: 27.9rem;
    height: 29.05rem;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .hero__title-section:before {
    max-height: 19.14rem;
  }
}

.hero__title-desc {
  font-size: 1.16rem;
  margin-bottom: 1.61rem;
  padding-right: 10%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 25%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 13%;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__main-title {
  font-size: 2.66rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 0.83rem;
  text-transform: uppercase;
  margin-top: 0.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.menu {
  margin: 0 30px;
  padding-top: 4px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: 0.83rem;
  margin-bottom: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.phone-number {
  font-size: 22px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon {
  flex-shrink: 0;
}

.phone-number__icon-elem {
  width: 0.66rem;
  height: 0.66rem;
  margin-right: 0.33rem;
  fill: #fff;
}
.phone-number__icon-elem--color--black {
  fill: #0b4d3c;
}

.phone-number__text {
  white-space: nowrap;
}
.phone-number__text--color--green {
  color: #0b4d3c;
}

.hamburger {
  width: 24px;
  height: 20px;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  display: none;
  z-index: 25;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
  width: 100%;
}

.hamburger--active .hamburger__plank:nth-child(1) {
  opacity: 0;
}
.hamburger--active .hamburger__plank:nth-child(2) {
  transform: rotate(45deg) translateX(6px) translateY(5px);
}
.hamburger--active .hamburger__plank:nth-child(3) {
  transform: rotate(-45deg);
}

.features {
  display: flex;
}

.features__item {
  margin-right: 2.55rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
  justify-content: space-between;
}

.feature__item {
  max-width: 9.2rem;
}

.feature__icon {
  width: 2.27rem;
  height: 2.27rem;
  margin-right: 0.38rem;
}
.feature__icon-elem {
  width: 100%;
  height: 100%;
}

.feature__icon-elem {
  fill: #fff;
}

.feature__text {
  font-size: 0.88rem;
  max-width: 5rem;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  padding: 21px 41px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.btn--theme--white {
  background: #fff;
  color: #0b4d3c;
}
.btn--theme--white:hover {
  color: #fff;
  background: #0b4d3c;
}
.btn--theme--green {
  background: #0b4d3c;
  color: #fff;
}
.btn--theme--green:hover {
  color: #0b4d3c;
  background: #FFF;
}
.btn--theme--transparent {
  background: transparent;
  color: #000;
  text-transform: none;
}
.btn--theme--transparent:hover {
  color: #0b4d3c;
}

.section {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font--color--green {
  color: #0b4d3c;
}
.section--font--color--green .section__title {
  color: inherit;
}

.section__title {
  font-size: 2.66rem;
  font-weight: bold;
  margin-bottom: 3.33rem;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.headline {
  text-align: center;
  margin-bottom: 8%;
}

.headline__title {
  margin-bottom: 1.38rem;
}

.headline__subtitle {
  padding: 0 10%;
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  margin: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:before {
  content: url("../img/decor/why-shape.png");
  position: absolute;
  top: 2.7rem;
  right: 0px;
  transform: translateX(50%);
}
.benefits__item:first-child {
  margin-left: 0;
}
@media screen and (max-width: 480px) {
  .benefits__item:first-child {
    margin-left: 3%;
  }
}
.benefits__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 480px) {
  .benefits__item:last-child {
    margin-right: 3%;
  }
}
.benefits__item:last-child:before {
  content: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .benefit__image {
    margin-right: 2.5%;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 4.16rem;
  height: 8.62rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-weight: bold;
  color: #000000;
}

@media screen and (max-width: 480px) {
  .benefit__text {
    text-align: left;
  }
}

.benefits-section {
  position: relative;
  background: url("../img/decor/why-leaf.png") left top 57% no-repeat;
}
@media screen and (max-width: 768px) {
  .benefits-section {
    background-position: left top 20%;
  }
}
@media screen and (max-width: 480px) {
  .benefits-section {
    background: none;
  }
  .benefits-section:before {
    display: none;
  }
}
.benefits-section:before {
  content: url("../img/decor/why-berry.png");
  position: absolute;
  bottom: -4.44rem;
  left: 0;
}

.reviews__display {
  background: url("../img/decor/leafe-reviews.png") top right no-repeat;
  background-color: #F8FAF9;
  padding: 2.77rem 2.5rem 1.88rem;
  margin-bottom: 1.11rem;
  overflow: hidden;
  position: relative;
  min-height: 19.33rem;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    padding-left: 1.437rem;
    padding-right: 1.437rem;
  }
}
.reviews__display:before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -3.61rem;
}

.reviews__display-inner.active {
  position: static;
  opacity: 1;
  pointer-events: none;
}

.reviews__display-inner {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__avatar {
  width: 14.1rem;
  height: 14.44rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 8.125rem;
    height: 8.25rem;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 1.1rem;
}

.reviews__title {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 1.22rem;
  color: black;
}
@media screen and (max-width: 480px) {
  .reviews__title {
    padding: 0 2%;
  }
}

.reviews__text {
  margin-bottom: 2rem;
}

.reviews__author {
  font-style: 18px;
  font-weight: bold;
  color: black;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.83rem;
}

.interective-avatar {
  width: 4.44rem;
  height: 4.44rem;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interective-avatar--active {
  border-color: #365A49;
}
.interective-avatar:hover {
  border-color: #365A49;
}

.interective-avatar-link {
  position: absolutetop;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.interective-avatat-img {
  display: block;
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.reviews-section {
  position: relative;
  background: url(./img/decor/ber-rev-top.png) top 10px right no-repeat;
}
.reviews-section:after {
  content: url("../img/decor/berry-reviews-left.png");
  position: absolute;
  left: 0;
  bottom: -5rem;
  z-index: 2;
}
@media screen and (max-width: 480px) {
  .reviews-section:after {
    display: none;
  }
}
.reviews-section:before {
  content: url("../img/decor/decor-reviews.png");
  position: absolute;
  bottom: -10rem;
  left: 0;
  z-index: 1;
}
@media screen and (max-width: 480px) {
  .reviews-section:before {
    display: none;
  }
}

.order-section {
  background: url("../img/decor/bg-order.png");
  background-size: cover;
  position: relative;
}
@media screen and (max-width: 768px) {
  .order-section {
    padding-bottom: 11.25rem;
    padding-top: 10.93rem;
  }
}
@media screen and (max-width: 480px) {
  .order-section {
    padding-bottom: 8.7rem;
  }
}
.order-section:before {
  content: url("../img/decor/leaf-berry-order.png");
  position: absolute;
}
@media screen and (max-width: 768px) {
  .order-section:before {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .order-section:before {
    display: none;
  }
}

.form {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 19%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0 1%;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.1rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 1rem;
}

.form__block {
  flex: 1;
  margin-right: 1.1rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__title {
  margin-bottom: 0.16rem;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.61rem;
  border: 3px solid transparent;
}
.form__input--textarea {
  height: 10rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 5.125rem;
  }
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.5rem 0.625rem;
  }
}
.form__input.input-error {
  border-color: red;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.1rem;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

.form__btns {
  padding-top: 1.44rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 1.1rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url(../img/icons/mark.svg) center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.44rem;
  height: 1.44rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.55rem;
}
.radio__visible::before {
  content: "";
  width: 0.77rem;
  height: 0.77rem;
  background: #365A49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 10;
}

.fixed-menu--shadowed .fixed-menu__link:before {
  background: black;
}
.fixed-menu--shadowed .fixed-menu__item--active .fixed-menu__link {
  border-color: #222;
}

.fixed-menu__item {
  margin-bottom: 0.27rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 0.88rem;
  height: 0.88rem;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.33rem;
  height: 0.33rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map-section {
  position: relative;
}

#map {
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 1.11rem 4.77rem;
  position: absolute;
  background-color: #ffffff;
  right: 0;
  left: 0;
  bottom: 0;
  color: #000000;
}
@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}

.footer__col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__col--position--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__item {
  margin-right: 0.77rem;
  width: 20px;
  height: 20px;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  width: 100%;
  height: 100%;
}

.socials__item--icon--vk .socials__link {
  background: url("../img/icons/socials/vk.svg") center center no-repeat;
}

.socials__item--icon--fb .socials__link {
  background: url("../img/icons/socials/fb.svg") center center no-repeat;
}

.socials__item--icon--ig .socials__link {
  background: url("../img/icons/socials/ig.svg") center center no-repeat;
}

.socials__item--icon--tw .socials__link {
  background: url("../img/icons/socials/tw.svg") center center no-repeat;
}

.slider-section {
  background-color: #F8FAF9;
}

.slider__container {
  position: relative;
}
.slider__container .bx-wrapper {
  border: 0;
  background: transparent;
  box-shadow: none;
}

.slider__item {
  position: relative;
}

.slider__logo {
  max-width: 24.27rem;
}
@media screen and (max-width: 480px) {
  .slider__logo {
    max-width: 22.27rem;
  }
}

.slider__controls {
  position: absolute;
  top: 35%;
  z-index: 5;
}
@media screen and (max-width: 768px) {
  .slider__controls {
    top: 20%;
  }
  .slider__controls--position--left {
    left: 20%;
  }
  .slider__controls--position--right {
    right: 15%;
  }
}
@media screen and (max-width: 480px) {
  .slider__controls {
    top: 10%;
  }
}
.slider__controls--position--left {
  left: 5%;
  transform: rotate(180deg);
}
.slider__controls--position--right {
  right: 5%;
}

.slider__arrow {
  max-width: 0.87rem;
}

.slider__slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .slider__slide {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5%;
  }
}

.slider__desc {
  display: flex;
  flex-direction: column;
  max-width: 22.77rem;
}
@media screen and (max-width: 480px) {
  .slider__desc {
    max-width: 23.77rem;
  }
}

.dropdown {
  max-width: 5.5rem;
  max-height: 5.5rem;
  border-radius: 4px;
  background-color: #86C3D7;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0.66rem 1.1rem;
  margin-bottom: 1.2rem;
  position: relative;
}
.dropdown:hover .dropdown__menu {
  right: -288%;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .dropdown {
    display: none;
  }
}

.dropdown__icon {
  max-width: 2.55rem;
  fill: #fff;
}

.dropdown__title {
  font-size: 0.77rem;
  color: #fff;
  text-transform: uppercase;
}

.dropdown__menu {
  position: absolute;
  top: 0%;
  right: 9999px;
  opacity: 0;
  transition: opacity 0.4s;
}

.dropdown__list {
  display: flex;
  flex-direction: column;
  min-width: 15.38rem;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  padding: 1.77rem 1.66rem;
}

.dropdown__item {
  margin-bottom: 1.3rem;
}
.dropdown__item:last-child {
  margin-bottom: 0;
}

.choc-bar__title {
  font-size: 2rem;
  color: #000;
  font-weight: bold;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
}

.choc-bar__desc {
  margin-bottom: 1.22rem;
}

.choc-bar__row {
  display: flex;
  margin-bottom: 1.22rem;
}
@media screen and (max-width: 768px) {
  .choc-bar__row {
    justify-content: center;
  }
  .choc-bar__row:last-child {
    margin-bottom: 2.7rem;
  }
}

.choc-bar__col {
  margin-right: 2.4rem;
}

.choc-bar__text--color-black {
  color: #000;
  font-weight: bold;
}

.choc-bar__price {
  font-size: 3.3rem;
  color: black;
  margin-right: 2.94rem;
}

.choc-bar__btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ingred {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 1.77rem;
}

.ingred__icon {
  max-width: 1.77rem;
  margin-right: 1.66rem;
}

.ingred__title {
  margin-right: 2.77rem;
  text-align: left;
}

.ingred__weight {
  text-align: right;
}

.overlay {
  background: #313131;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s;
  position: fixed;
  top: 0;
  left: 100%;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.overlay--active {
  left: 0;
  opacity: 1;
}
.overlay--active .menu {
  display: block;
}
.overlay--active .menu__link {
  color: #fff;
}
.overlay .menu__list {
  flex-direction: column;
}
.overlay .menu__item {
  font-size: 36px;
  margin-bottom: 2rem;
}
.overlay .menu__item:last-child {
  margin-bottom: 0;
}

.team {
  display: flex;
  justify-content: space-between;
}

.team__item {
  text-align: center;
}

.active.team__item .team__title:before {
  transform: rotate(180deg);
  transition: transform 0.3s;
}

.team__member {
  max-height: 16.11rem;
  width: auto;
  margin-bottom: 1.16rem;
}

.team__section {
  padding-bottom: 5%;
}

.team-container--position--margin--bottom {
  margin-bottom: 5%;
}

.team__title {
  position: relative;
}
.team__title:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  right: -5%;
  top: 36%;
  background: url("../img/icons/triangle.svg") center center/cover no-repeat;
}

.team__title {
  font-size: 19px;
  font-weight: bold;
  background-color: transparent;
  border: none;
}
.team__title:focus {
  outline: none;
}

.team__content {
  overflow: hidden;
  transition: height 0.3s;
  height: 0;
}

.team__content-block {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 12.22rem;
}

.team__content-title {
  font-size: 18px;
  color: #292929;
  margin-bottom: 0.4rem;
}

.team__content-text {
  font-weight: 300;
}

.team--version--mobile {
  display: none;
}

.team--version--desktop {
  position: relative;
}
.team--version--desktop .team__item {
  margin-right: 1.11rem;
}
.team--version--desktop .team__item:last-child {
  margin-right: 0;
}
.team--version--desktop .team__title {
  margin-bottom: 0.44rem;
}
.team--version--desktop .team__content {
  position: absolute;
  top: 100%;
  margin-bottom: 2.22rem;
}

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .team--version--desktop {
    display: none;
  }

  .team--version--mobile {
    display: block;
    flex-direction: column;
  }

  .team--version--mobile .team__title {
    margin-bottom: 1rem;
  }
  .team--version--mobile .team__content {
    margin-bottom: 2rem;
  }
  .team--version--mobile .team__content-title {
    font-weight: bold;
    color: #000;
  }
}
@media screen and (max-width: 480px) {
  .team--version--mobile .team__member {
    max-width: 9.85rem;
    height: auto;
  }
  .team--version--mobile .team__content-block {
    max-width: 18.57rem;
  }
}
.modal {
  display: none;
}

.modal__container {
  background: #fff;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__content {
  margin-bottom: 15px;
  color: #000;
}
.modal__content.error-modal {
  color: red !important;
}

.modal__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-menu-section {
  background: url("../img/content/menu/first.png") center center/cover no-repeat;
  position: relative;
  color: #fff;
}

.products-menu-section__title {
  position: absolute;
  top: 10%;
  left: 8%;
  font-weight: bold;
  font-size: 48px;
}
@media screen and (max-width: 768px) {
  .products-menu-section__title {
    font-size: 40px;
  }
}

.products-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
}
.products-menu__item {
  display: flex;
}
.products-menu__item:first-child {
  background: url("../img/content/menu/1.png") center center/cover no-repeat;
}
.products-menu__item:nth-child(2) {
  background: url("../img/content/menu/2.png") center center/cover no-repeat;
}
.products-menu__item:last-child {
  background: url("../img/content/menu/3.png") center center/cover no-repeat;
}
.products-menu__content {
  background: rgba(51, 53, 55, 0.9);
  width: 0;
  position: relative;
  overflow: hidden;
  transition: width 0.7s;
}
.products-menu__text {
  position: absolute;
  transform: rotate(-90deg);
  font-weight: bold;
  font-size: 48px;
  bottom: 40%;
  white-space: nowrap;
  left: -200%;
}
@media screen and (max-width: 480px) {
  .products-menu__text {
    font-size: 40px;
    bottom: 34%;
    left: -247%;
  }
}

.products-menu__title {
  position: relative;
  width: 100px;
}
@media screen and (max-width: 480px) {
  .products-menu__title {
    width: 70px;
  }
}

.products-menu__close {
  position: absolute;
  right: 5%;
  top: 15px;
  background: transparent;
  border: none;
  outline: none;
}
.products-menu__close-icon {
  width: 20px;
  fill: white;
  height: 20px;
}

.products-menu__content-text {
  padding: 40px 73px 45px 26px;
}
@media screen and (max-width: 480px) {
  .products-menu__content-text {
    padding: 40px 19px 29px 12px;
    font-size: 14px;
  }
}

.player-section__container {
  width: 36.77rem;
  margin: 0 auto;
}

.player {
  width: 36.77rem;
  height: 21.76rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (max-width: 480px) {
  .player {
    width: 25.14rem;
    height: 14.64rem;
  }
}
.player__wrapper {
  flex: 1;
}
.player__splash {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6.16rem;
  height: 7.05rem;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
.player__splash-icon {
  fill: #fff;
  width: 100%;
  height: 100%;
}
.player__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #404040;
  display: flex;
  align-items: center;
  height: 9%;
  padding: 0 22px 0 9px;
}

@media screen and (max-width: 768px) {
  #yt-player {
    width: 100%;
    height: 100%;
    margin-right: 3%;
  }
}

.player__start {
  cursor: pointer;
  margin-right: 3%;
  display: block;
}
.player__start:hover .player__start-icon {
  fill: #fff;
}
.player__start-icon {
  width: 0.61rem;
  height: 0.83rem;
  fill: #626262;
}

.player__pause {
  cursor: pointer;
  display: none;
  flex-direction: column;
  width: 12px;
  height: 15px;
  margin-right: 3%;
  transform: rotate(90deg);
}
.player__pause:hover .player__pause-block {
  background-color: #fff;
}
.player__pause-block {
  width: 100%;
  height: 0.22rem;
  background-color: #626262;
}
.player__pause-block:first-child {
  margin-bottom: 20%;
}

.paused .player__start {
  display: none;
}

.paused .player__pause {
  display: flex;
}

.player__progress {
  flex: 1;
  height: 4px;
  background: #626262;
  margin-right: 3%;
}

.player__total {
  width: 100%;
  background: #626262;
  display: flex;
  height: 100%;
  cursor: pointer;
}

.player__current {
  height: 100%;
  display: flex;
  position: relative;
  background: #ffffff;
  cursor: pointer;
}
.player__current:before {
  content: "";
  border-radius: 50%;
  height: 0.83rem;
  width: 0.83rem;
  position: absolute;
  background: #ffffff;
  display: flex;
  left: 100%;
  bottom: 0;
  transform: translate(0, 35%);
  cursor: pointer;
}

.player__duration {
  margin-right: 3%;
}

.player__volume {
  margin-right: 3%;
  cursor: pointer;
}
.player__volume-icon {
  width: 0.722rem;
  height: 0.88rem;
  fill: #626262;
}
.player__volume-icon:hover {
  fill: #fff;
}