.benefit {
  text-align: center;
  @include phones {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}


.benefit__image {

  @include phones {
    margin-right: 2.5%;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  
}


.benefit__icon {
  width: 4.16rem;
  height: 8.62rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-weight: bold;
  color: #000000;
}

.benefit__text {
  @include phones {
    text-align: left;
  }
}