.ingred {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 1.77rem;
}

.ingred__icon {
  max-width: 1.77rem;
  margin-right: 1.66rem;
}

.ingred__title {
  margin-right: 2.77rem;
  text-align: left;
}

.ingred__weight {
  text-align: right;
}