.phone-number {
  font-size: 22px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon {
  flex-shrink: 0;
}

.phone-number__icon-elem {
  width: 0.66rem;
  height: 0.66rem;
  margin-right: .33rem;
  fill: #fff;

  &--color--black {
  fill: $darkGreen;
  }
}

.phone-number__text {
white-space: nowrap;

&--color--green {
  color: $darkGreen;
}


}