.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 1.1rem;

  &--checkbox {
    .radio__visible {
      border-radius: 0;
      

      &:before {
        background: url(../img/icons/mark.svg) center no-repeat;
      }
    }
  }
}

.radio__elem {
  display: none;

  &:checked ~ .radio__visible {

    &:before {
      display: block;
    }

  }
}

.radio__visible {
  width: 1.44rem;
  height: 1.44rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.55rem;

  &::before {
    content: "";
    width: 0.77rem;
    height: 0.77rem;
    background: #365A49;
    border-radius: 50%;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
}