.benefits-section {
  position: relative;
  background: url("../img/decor/why-leaf.png") left top 57% no-repeat;

  @include tablets {
    background-position: left top 20%;
  }

  @include phones {
    background: none;

    &:before {
      display: none;
    }
  }

  &:before {
    content: url("../img/decor/why-berry.png");
    position: absolute;
    bottom: -4.44rem;
    left : 0;
    
  }
}