.benefits-section {
  position: relative;
  background: url("../img/decor/why-leaf.png") left top 57% no-repeat;

  &:before {
    content: url("../img/decor/why-berry.png");
    position: absolute;
    bottom: -4.44rem;
    left : 0;
    
  }
}