.order-section {
  background: url("../img/decor/bg-order.png");
  background-size: cover;
  position: relative;

  @include tablets {
    padding-bottom: 11.25rem;
    padding-top: 10.93rem;
  }

  @include phones {
    padding-bottom: 5.7rem;
  }

  &:before {
    content: url("../img/decor/leaf-berry-order.png");
    position: absolute;

    @include tablets {
      display: none;
    }

    @include phones {
      display: none;
    }

  }

  
  
} 