.player-section__container {
  width: 36.77rem;
  margin: 0 auto;
}


.player {
  background: url(../img/decor/video-cover.png) center center / cover no-repeat;
  width: 36.77rem;
  height: 21.76rem;
  display: flex;
  flex-direction: column;
  position: relative;
  
  &__wrapper {
    flex: 1;
  }

  &__controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #404040;
    display: flex;
    align-items: center;
    height: 9%;
    padding: 0 22px 0 9px;
  }
}

.player__start {
  cursor: pointer;
  margin-right: 3%;

  &-icon {
    width: 11px;
    height: 15px;
    fill: #626262;
  }
}

.player__progress {
  flex: 1;
  height: 4px;
  background: #626262;
  margin-right: 3%;
}



.player__total {
  width: 100%;
  background: #626262;
  display: flex;
  height: 100%;
}

.player__current {
  height: 100%;
  display: flex;
  position: relative;

  &:before {
    content: "";
    border-radius: 50%;
    height: 15px;
    width: 15px;
    position: absolute;
    background: #626262;
    display: flex;
    left: 100%;
    bottom: 0;
    transform: translate(0, 35%);
  }
}

.player__duration {
  margin-right: 3%;
}

.player__volume {
  margin-right: 3%;

  &-icon {
    width: 13px;
    height: 16px;
    fill: #626262;
  }
}



