.products-menu-section {
  background: url("../img/content/menu/first.png") center center / cover no-repeat;
  position: relative;
  color: #fff;
}

.products-menu-section__title {
  position: absolute;
  top: 10%;
  left: 8%;
  font-weight: bold;
  font-size: 48px;

  @include tablets {
    font-size: 40px;

  }
}

.products-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;

  &__item {
    display: flex;

    &:first-child{
      background: url("../img/content/menu/1.png") center center / cover no-repeat;
    }

    &:nth-child(2) {
      background: url("../img/content/menu/2.png") center center / cover no-repeat;
    }

    &:last-child{
      background: url("../img/content/menu/3.png") center center / cover no-repeat;
    }
  }

  &__content {
    background: rgba(51, 53, 55, 0.9);
    width: 0;
    position: relative;
    overflow: hidden;
    transition: width .7s;
  }

  &__text {
    position: absolute;
    transform: rotate(-90deg);
    font-weight: bold;
    font-size: 48px;
    bottom: 30%;
    white-space: nowrap;
    left: -200%;

    @include phones  {
      font-size: 40px;
      bottom: 28%;
      left: -247%;
    }
    
  }
}

.products-menu__title {
  position: relative;
  width: 100px;

  @include phones {
    width: 70px;
  }
}

.products-menu__close {
  position: absolute;
  right: 5%;
  top: 15px;
  background: transparent;
  border: none;
  outline: none;

  &-icon {
    width: 20px;
    fill: white;
    height: 20px;
  }
}



.products-menu__content-text {
  padding: 40px 73px 45px 26px;

  @include phones {
    padding: 40px 19px 29px 12px;
    font-size: 14px;
  }
  
}