.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials__item {
  margin-right: 0.77rem;
  width: 20px;
  height: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  display: block;
  width: 100%;
  height: 100%;
}



@each $socials in (vk, fb, ig, tw) {
  .socials__item--icon--#{$socials} .socials__link{
    background: url("../img/icons/socials/#{$socials}.svg") center center no-repeat;
  }
}